<!DOCTYPE HTML>

<html>

    <head>

       
    </head>

    <body>
        <div class="text-content">
         
             <p id="p1"></p>
             <p>Hello World</p>

        </div>

        <script src='/js/front-app.js'></script>
     </body>
</html> 