<!DOCTYPE htmL>

<html>
    <head>
        <title>Paperform Partials</title>
        <link rel="stylesheet" href="/css/styles.css">
        <script src='/js/front-app.js'></script>
    </head>
    <body>
        <div class="main-content">
            {{>header}}


            <form >
            <input placeholder="name">
            <button>Search</button>

            </form>

        
        </div>
        {{>footer}}
    </body>
</html>