<!DOCTYPE htmL>

<html>
    <head>
        <title>Tree Nation planter</title>
        <link rel="stylesheet" href="/css/styles.css">
        <script src='/js/front-app.js'></script>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This page was created by Paul Krisman and allows a tree to be planted</p>
        
        </div>
        {{>footer}}
    </body>
</html>